Binaries
Dungeon
LowPolyMedievalConstructions
DerivedDataCache
Intermediate
Saved
Build
Content/*

!Content/Blueprints
!Content/Developers
!Content/GameBP
!Content/Maps
!Content/Materials
!Content/Textures
!Content/Fonts

/.idea/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
